$cfg: (
    'spacing': 35px
);

.listings {

    padding-top: map-get($cfg, 'spacing');

    .card {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 15px;

        .form-id {
            font-family: 'Roboto Mono', monospace;
            font-size: 12px;
        }

        .buttons {
            margin-left: auto;

        }
    }

}