.card {
    border: none;
    padding: 25px;
    margin-bottom: 35px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}