$navbar: (
    'height': 70px,
    'color': $white,
    'background-color': $primary
);

.navbar {
    width: 100%;
    padding: 0 0;
    background-color: map-get($navbar, 'background-color');
}

.navbar .container {
    width: 100%;
    display: flex;
    align-items: center;
    height: map-get($navbar, 'height');
    color: map-get($navbar, 'color');

    .account-btn {
        margin-left: auto;
        
        button {
            @include button-type();
            background-color: transparent;
            margin: 0 0;
            color: map-get($navbar, 'color');
            height: map-get($navbar, 'height');
            border-radius: 0px;
            border: none;
            padding: 0 15px 0 30px;
            cursor: pointer;
            line-height: map-get($navbar, 'height');

            &:after {
                margin-left: 15px;
            }
        }

    }
    
}